<div class="topbar">

  <div class="intrucoes">
    <button>Instruções</button>
    <ul class="lista">
      <li>➛ Este calendário foi criado para auxiliar na sua organização mensal!</li>

      <li>➛ Escolha um dia em que você precise fazer anotações, agendar compromissos ou executar tarefas diárias!</li>

      <li>➛ Você pode selecionar uma atividade, definir o horário e até escolher uma cor para o seu lembrete!
      </li>

      <li>➛ Caso você precise editar a sua tarefa, seja por erro de digitação ou compromisso desmarcado, basta clicar no botão 'editar' e fazer a alteração!</li>

      <li>➛ Você também pode alterar o lembrete, a data e a cor. Infelizmente, a alteração do dia não está disponível no momento!</li>

      <li>➛ Caso a tarefa tenha sido concluída, basta clicar no botão 'excluir' e o lembrete será removido!</li>

      <li>➛ Por fim, se desejar, é possível estender o calendário; para fazê-lo, basta posicionar o cursor no lado direito do bloco referente ao dia 31.</li>

      <li>➛ Feito por <strong>Vinicius João Andrade!</strong></li>
    </ul>
  </div>

  <div class="titulo">
    <h2>CALENDÁRIO</h2>
  </div>

  <div></div>
</div>
