

<section id="leite">
  <!-- CALENDARIO -->
  <div class="calendario">
    <!-- COMPONENTES COLUNA 1 -->
    <div class="coluna-1">

      <div class="semana">
        <span>Segunda</span>
      </div>

      <div class="bloco">
        <h2>1</h2>
        <div class="conteudo">
          <h6>12:00</h6>
          <p>djhdhdh</p>
        </div>
      </div>

      <div class="bloco">
        <h2>8</h2>
        <div class="conteudo">
          <h6>16:00</h6>
          <p>leite quente</p>
        </div>

      </div>

      <div class="bloco">
        <h2>15</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

      <div class="bloco">
        <h2>22</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

      <div class="bloco">
        <h2>29</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
    </div>
    <!-- COMPONENTES COLUNA 2 -->
    <div class="coluna-2">

      <div class="semana">
        <span>Terça</span>
      </div>

      <div class="bloco">
        <h2>2</h2>
        <div class="conteudo">
          <h6></h6>
          <p>Tarefa 200</p>
        </div>
      </div>

      <div class="bloco">
        <h2>9</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

      <div class="bloco">
        <h2>16</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

      <div class="bloco">
        <h2>23</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

      <div class="bloco">
        <h2>30</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

    </div>

    <!-- COMPONENTES COLUNA 3 -->
    <div class="coluna-3">

      <div class="semana">
        <span>Quarta</span>
      </div>
      <div class="bloco">
        <h2>3</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>10</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>17</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>24</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>31</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

    </div>

    <div class="coluna-4">

      <div class="semana">
        <span>Quinta</span>
      </div>
      <div class="bloco">
        <h2>4</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>11</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>18</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>25</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>

      <div class="bloco">
        <h2>25</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      
    </div>

    <div class="coluna-5">

      <div class="semana">
        <span>Sexta</span>
      </div>
      <div class="bloco">
        <h2>5</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>12</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>19</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>26</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
    </div>

    <div class="coluna-6">

      <div class="semana">
        <span>Sabado</span>
      </div>
      <div class="bloco">
        <h2>6</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>13</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>20</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>27</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
    </div>

    <div class="coluna-7">

      <div class="semana">
        <span>Domingo</span>
      </div>
      <div class="bloco">
        <h2>7</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>14</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>21</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <div class="bloco">
        <h2>28</h2>
        <div class="conteudo">
          <h6></h6>
          <p></p>
        </div>
      </div>
    </div>
    
    
  </div>
</section>


<!-- NavBar -->

<section>
    <div [ngClass]="{ 'esconder': mostrarDiv }" id="nav" class="esconder">
      <div class="nav">
          <button (click)="mostrarDiv = !mostrarDiv" class="fechar">X</button>

          <div class="data">
            <span>Dia: {{DataNumero}}</span>
          </div>

          <div class="informacao">
            
            <div class="lembrete">
              <label for="username">Digite seu Lembrete:</label>
              <input [(ngModel)]="texto" (keyup)="atualizarTextos()" type="text" id="username" name="username"  maxlength="30">
              <span>Maximo 30 caracteres!</span>
              <button (click)="editar()" class="editar">Editar</button>
              <button (click)="excluir()" class="excluir">Excluir</button>
            </div>

            <div class="input">
              <select [(ngModel)]="HrsSelect" (change)="HrsEvent($event)">
                <option value="selecione" disabled selected>Horário</option>
                <option value="7:00" >7:00</option>
                <option value="10:00">10:00</option>
                <option value="12:00">12:00</option>
                <option value="14:00">14:00</option>
                <option value="16:00">16:00</option>
              </select>
      
              <select [(ngModel)]="CorSelect" (change)="CorEvent($event)" class="option">
                <option value="selecione" disabled>Cor Lembrete</option>
                <option value="branco" selected>Branco</option>
                <option value="roxo">Roxo</option>
                <option value="laranja">Laranja</option>
                <option value="amarelo">Amarelo</option>
                <option value="azul">Azul</option>
              </select>
            </div>


            <button (click)="salvar()" class="salvar">Salvar</button>
            <div class="botao">
            </div>
          
          </div>
      </div>
    </div>
</section>